<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
</head>
<body>
 <h1>Statistics</h1>
    <ul>
        <li>Total number of questions : {{ question_list|length }}</li>
        <li>Nombre de choix : {{ nbr_choix }}</li>
        <li>Nombre de votes : {{ nbr_votes }}</li>
        <li>Average number of votes : {{ moyenne_par_sondage }}</li>
        <li>Most popular question : {{ question_la_plus_populaire }}</li>
        <li>Least popular question : {{question_la_moins_populaire}}</li>
        <li>Latest added question : {{ derniere_question }}</li>
    </ul>
</body>
</html>